
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Nothing+You+Could+Do&display=swap');

:root {
    /* change the values below to your colors from your palette */
    --primary-color: #134266   ;
    --secondary-color: #78C5D7 ;
    --accent1-color: #FCE172;
    --accent2-color: #EF8354;
  
    /* change the values below to your chosen font(s) */
    --heading-font: "Nothing You Could Do";
    --paragraph-font: "Amatic SC";
  
    /* these colors below should be chosen from among your palette colors above */
    --headline-color-on-white: #134266;  /* headlines on a white background */ 
    --headline-color-on-color: white; /* headlines on a colored background */ 
    --paragraph-color-on-white: #134266; /* paragraph text on a white background */ 
    --paragraph-color-on-color: white; /* paragraph text on a colored background */ 
    --paragraph-background-color: #134266  ;
    --nav-link-color: #134266;
    --nav-background-color: #FCE172;
    --nav-hover-link-color: white;
    --nav-hover-background-color: #EF8354;
  }

#content {
    max-width: 1600px;
    margin: 0 auto;
    z-index: -1;


}
#background {
    height: 500px;
    background-color: #FCE172;
    grid-column: 1/11;
    grid-row: 4/9;
}
#hero {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;


}
#hero-box {
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;

}
#hero-img {
    width: 100%;

}
#hero-msg {
    grid-column: 2/3;
    grid-row: 1/2;

    
}
#hero-msg h1, #hero-msg h4{
    text-align: center;

}
#hero-msg h4 {
    color: white;
    
}
#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}

nav {
    display: flex;
    justify-content: space-around;
}
nav a {
    text-align: center;
    color: #134266;
    text-decoration: none;
    padding: 35px;
}
nav a:hover {
    background-color: #EF8354;
    color: white;
}
main {
    text-align: center;



}
main section img {
    box-sizing: border-box;
}
body {
    background-color: #fcfbfb;
    font-family: var(--paragraph-font); 
    font-size: 22px;
    margin: 0;
    padding: 0;
}
header {
    background-color:#FCE172;
    font-family: var(--paragraph-font);
    font-size: xx-large;
    display: grid;
    grid-template-columns: 150px auto;

}
footer {
    background-color: #FCE172;
    color: #134266;
    padding: 1em;
    margin-top: 5em;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
footer a {
    color: #134266;
    text-decoration: none;
}
footer a:hover {
    color: #134266;
}
footer p {
    font-size: 1.2em;
}
footer p a:hover {
    text-decoration: underline;
}  
footer .social img{
    padding-top: 15px;
}
h1 {
    padding-top: 1em;
}
h2 {
    margin: 0;
} 
h4 {
    padding: 0.5em;
    font-size: larger;

}
.home-grid {
    display: grid;
    grid-auto-columns: 1fr;
    grid-auto-flow: column;
    margin-top: -5em; 


}

.book, .join {
    background-color: white;
    color: #134266;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;

}
.book:hover, .join:hover {
    background-color: #78C5D7;
    color: white;

}
.msg {
    background-color: #134266;
    padding: 35px;
    grid-column: 6/10;
    grid-row: 6/7;
    width: 100%;
    box-shadow: 5px 5px 10px #6f7364;
}
.button-box {
    text-align: center;
}
.home-title {
    color: white;
    font-family: var(--heading-font);
    font-size: 2em;
    margin-top: 10px;
}
.msg h2 {
    color: white;
    font-family: var(--heading-font);
}
.msg p {
    color: white;
    font-size: .8em;
    padding-bottom: 15px;

}
.logo {
    width: 80px;
}

.icon {
    width: 80px;
    padding-top: 10px;
}
.rivers-card, .camping-card, .rapids-card {
    margin: 200px 0;
}
.rivers-card {
    grid-column: 2/4;
    grid-row: 2/3;
}
.camping-card {
    grid-column: 5/7;
    grid-row: 2/3;
}
.rapids-card {
    grid-column: 8/10;
    grid-row: 2/3;
}

.card-img {
    border: 10px solid #134266;
    transition: transform .5s;
    box-shadow: 5px 5px 10px #6f7364;
}
.card-img:hover {
    opacity: .6;
    transform: scale(1.1);
}
.card-img, .mountains {
    width: 100%;
}
.mountains {
    width: 100%;
    max-height: 400px;
    grid-column: 2/7;
    grid-row: 5/8;
    box-shadow: 5px 5px 10px #6f7364;
}

/* rivers.html */
#biglogo {
    width: 180px;
    grid-column: 4/5;
    grid-row: 2/3;
}
#page2topimg {
    box-shadow: 5px 5px 10px #6f7364;
    grid-column: 2/4;
    grid-row: 1/8;
}
#page2msg {
    background-color: #EF8354;
    padding: 1em;
    box-shadow: 5px 5px 10px #6f7364;
    grid-column: 4/6;
    grid-row: 4/6;
    text-align: center;
    transition: transform .5s;
    font-family: var(--heading-font);
    font-size: 1.5em;
}
#page2msg:hover {

    transform: scale(1.1);
}

.page2welcome {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    margin-top: 2.5em;
    
}

.page2content {
    display: grid;
    margin-top: 2.5em;

}
.salmon-card, .desolation-card, .grandcanyon-card {
    background-color: #134266;
    color: white;
    margin: 0% 25px;
    max-width: 20em;
}
.salmon-card {
    padding: 1em;
    grid-column: 2/4;
}
.desolation-card {
    padding: 1em;
    grid-column: 5/7;
}
.grandcanyon-card {
    padding: 1em;
    grid-column: 8/10;
}
.cardpic {
    border: white solid 10px;
    max-width: 15em;
}

/* Contact Us Page */

form {
  /* Center the form on the page */
  margin: 1em auto;
  width: 400px;
  /* Form outline */
  padding: 1em;
  border: 1px solid #ccc;
  border-radius: 1em;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

form li + li {
  margin-top: 1em;
}

label {
  /* Uniform size & alignment */
  display: inline-block;
  width: 90px;
  text-align: right;
}

input,
textarea {
  /* To make sure that all text fields have the same font settings
     By default, textareas have a monospace font */
  font: 1em sans-serif;

  /* Uniform text field size */
  width: 300px;
  box-sizing: border-box;

  /* Match form field borders */
  border: 1px solid #999;
}

input:focus,
textarea:focus {
  /* Additional highlight for focused elements */
  border-color: #000;
}

textarea {
  /* Align multiline text fields with their labels */
  vertical-align: top;

  /* Provide space to type some text */
  height: 5em;
}

.button {
  /* Align buttons with the text fields */
  padding-left: 90px; /* same size as the label elements */
}

button {
  /* This extra margin represent roughly the same space as the space
     between the labels and their text fields */
  margin-left: 0.5em;
}

#feedback {
    background-color: antiquewhite;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: .5em;
    /* make this element invisible until we are ready for it */
    display: none;      
}
.moveDown {
    margin-top: 3em;
}

/* Media Queries */

@media screen and (max-width: 900px) {
    #hero, .home-grid {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    #hero {
        margin-top: 0;
    }
    #hero-msg {
        margin-top: 0;
    }
    #hero-msg h4 {
        display: none;
    }
    .home-title {
        font-size: 25px;
        color: #6f7364;
    }
    .rivers-card, .camping-card, .rapids-card { 
        margin: 50px auto;
        width: 60%;
    }
    #background {
        display: none;
    }
    .mountains, .msg {
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    footer {
        margin-top: 25px;
    }
}