body {
    background-image: url(https://jakem-byui.github.io/2023-Spring---WDD-130/sc2fansite/images/bg1.jpg);
}


header {
    background-image: url(https://jakem-byui.github.io/2023-Spring---WDD-130/sc2fansite/images/bg2.jpg);

}


div {
    background-image: url(https://jakem-byui.github.io/2023-Spring---WDD-130/sc2fansite/images/bg1.jpg);
}