body {
    background-color: rgb(250, 167, 201);
    text-align: center;
    margin: 25px auto;
    max-width: 400px;
}
header {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: xx-large;
    
}
header:hover {
    color: black;
}

sub {
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
    color: white;
}
h3 {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
h4 {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    text-align: left;
}
img {
    width: 200px;
    display: block;
    margin: 0 auto;
}
h1 {
    font-family: 'Times New Roman', Times, serif;
    color: white;
}
footer {
    font-family: Arial, Helvetica, sans-serif;
}
