#content {
    max-width: 1200px;
    margin: 0 auto;
    
}


body {
    
    align-content: center;
    max-width: fit-content;
}

main {
    text-align: center;
    background-color: #737373;
}
img.three-circles {
    max-width: 150px;
    margin: 50px 50px;
    border: 10px;
    border-style: solid;
    border-color: #444444;
    border-radius: 50%;
}